@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;900&display=swap");

body {
  color: #252525;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  height: 200vh;
  line-height: 1.5;
}

.list {
  list-style: none;
}
/* Nav Bar */
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-background {
  background: lightblue;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.nav {
  padding: 0 1rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin: 0 1rem;
}
.nav-item a {
  text-decoration: none;
  color: white;
}
.nav-item a:hover {
  opacity: 0.8;
}
.nav-title {
  font-weight: 800;
}

/* Posts */

#postContainer {
  padding: 0 1rem;
}

#postContainer h2 {
  font-size: 2rem;
  text-transform: capitalize;
}
#postContainer p {
  text-indent: 1rem;
  opacity: 0.8;
}

/* Post Input */

.blogInput {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightcyan;
  padding-bottom: 2rem;
}
.blogInput button {
  padding: 1rem;
  background: #252525;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}
.blogInput button:hover {
  background: rgba(0, 0, 0, 0.7);
}

/*  */
/* Game OF WAR */
/*  */

.warContainer {
  margin-top: 5rem;
  height: 40rem;
  background: forestgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.warBtn {
  background: yellow;
  border: none;
  padding: 0.6rem;
  margin: 0.5rem;
  cursor: pointer;
}
.warBtn:hover {
  opacity: 0.8;
}

#drawCards {
  display: none;
}
#getCards {
  margin-bottom: 1rem;
}

#deckNotify {
  display: none;
  animation: fadeVisibility 1s;
  color: white;
  font-size: 1.2rem;
}

#cardContainer {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
}
#cardContainer img {
  width: 100%;
  margin: 0.5rem;
}

.cardPlaceHolder {
  height: 215px;
  width: calc(200px * 5 / 7);
  border: 3px solid black;
  border-radius: 11px;
  margin: 0.5rem;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
